language: ruby

rvm:
- 2.3.1

before_script:
 - chmod +x ./script/cibuild

script:
 - bash ./deploy-to-gh-pages.sh


branches:
  only:
  - master    

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true 
  - ENCRYPTION_LABEL: 0d645b87dfd2
 
sudo: false





















